<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title id="header">
      ADMIN
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-header>
      <ion-toolbar>
        <ion-title>Register Recipe</ion-title>
      </ion-toolbar>
      <ion-toolbar>
          
        <ion-list>
          <ion-item>
            <ion-textarea label="Recipe Name:" placeholder=""></ion-textarea>
          </ion-item>
          <ion-item>
            <ion-textarea label="Description:" placeholder=""></ion-textarea>
          </ion-item>
          <ion-item>
            <ion-textarea [readonly]="true" label="Ingridients:" ></ion-textarea>
            <ion-searchbar id="searchbar"placeholder="Search ingridients here.."></ion-searchbar>
          </ion-item>
          <ion-item>
            <ion-textarea label="List of Ingridients added:" placeholder=""></ion-textarea>
          </ion-item>
          <ion-item>
            <ion-textarea label="Cooking Procedure:" placeholder=""></ion-textarea>
          </ion-item>
    
        </ion-list>
      </ion-toolbar>
    </ion-header>
  </div>

</ion-content>
